conda.enabled = true
params {
    sample_info = "/home/a/big/ycq/projects/RNAseq/gaopeng_samples.csv"
    comparisons = "/home/a/big/ycq/projects/RNAseq/comparisons.csv"
    directory = "/home/a/pub/ycq/output"
    analysis_name = null
    // reference = "/home/a/big/ycq/db/Arabidopsis_thaliana_tair10_release55/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa"
    // reference = "/home/a/big/ycq/db/references/GRCm39/ncbi_dataset/data/GCF_000001635.27/GCF_000001635.27_GRCm39_genomic.fna"
    reference = "/home/a/big/ycq/db/references/Citrullus_lanatus_Watermelon_97103_V2/97103_genome_v2.fa"
    cpus = 8

    extra_fastp_args = "-5 -3 -W 5 --cut_mean_quality 20 -q 18 -u 30 -n 10 -e 20 -l 100 "
    /*
    -5, --cut_front                      move a sliding window from front (5') to tail, drop the bases in the window if its mean quality < threshold, stop otherwise.
    -3, --cut_tail                       move a sliding window from tail (3') to front, drop the bases in the window if its mean quality < threshold, stop otherwise.
    -W, --cut_window_size                the window size option shared by cut_front, cut_tail or cut_sliding. Range: 1~1000, default: 4 (int [=4])
    -M, --cut_mean_quality               the mean quality requirement option shared by cut_front, cut_tail or cut_sliding. Range: 1~36 default: 20 (Q20) (int [=20])
    -q, --qualified_quality_phred        the quality value that a base is qualified. Default 15 means phred quality >=Q15 is qualified. (int [=15])
    -u, --unqualified_percent_limit      how many percents of bases are allowed to be unqualified (0~100). Default 40 means 40% (int [=40])
    -e, --average_qual                   if one read's average quality score <avg_qual, then this read/pair is discarded. Default 0 means no requirement (int [=0])
    -l, --length_required                reads shorter than length_required will be discarded, default is 15. (int [=15])
    */

    extra_hisat2_args = ""
    feature_attr = "-t exon -g gene_id"

    method = "fpkm"
    min_expression = 1

    conda_path = "/home/a/anaconda3/envs"
    
}

